*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
}

nav{
    background-color: #0B1320;
    color: white; 
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo img{
    width: 105px;
    height: 60px;
    margin: 10px 90px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.nav-items a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-items a:hover{
    text-decoration: underline;
}

.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    gap: .5em;
}

#destinationSearch{
    height: 25px;
    width: 200px;
}

.nav-buttons{
    padding: 5px 8px;
    background-color: #0B1320;
    color: #ffffff; 
    border: 1px solid #ffffff;
}

.nav-buttons:hover{
    border: 1px solid #0B1320;
    cursor: pointer;
}

#main_img{
    width: 100%;
    height: auto;
    position: absolute;
}

.main-text-content{
    position: relative;
    text-shadow: #000000 1px 0 10px;
}

.main-title{
    font-size: 80px;
    width: 650px;
    padding: 60px 0px 20px 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-paragraph{
    font-size: 18px;
    background-color: #0b1320d0;   
    padding: 15px 40px 15px 120px;
    width: 600px;
    line-height: 1.5em;
    text-align: justify;
}

.social-icons{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: .7em;
    left: 95%;
    background-color: #0b1320e6;
    padding: 10px;
    margin-top: 200px;
    z-index: 2;
}

.social-icons:hover{
    cursor: pointer;
}

.our-team-container{
    display: flex;
    position: relative;
    padding: 110px;
    text-shadow: #000000 1px 0 10px;
}

.main-title-team{
    font-size: 50px;
}

.team-members{
    flex: 25%;
    font-size: 18px;
    color:  #0B1320;
    background-color: #ffffff;
    padding: 15px 15px 15px 80px;
    text-shadow: #ffffff 1px 0 10px;
}


