*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
}

nav{
    background-color: #0B1320;
    color: white; 
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.logo img{
    width: 105px;
    height: 60px;
    margin: 10px 90px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.nav-items a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.nav-items a:hover{
    text-decoration: underline;
}

.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    gap: .5em;
}

#destinationSearch{
    height: 25px;
    width: 200px;
}

.nav-buttons{
    padding: 5px 8px;
    background-color: #0B1320;
    color: #ffffff; 
    border: 1px solid #ffffff;
}

.nav-buttons:hover{
    border: 1px solid #0B1320;
    cursor: pointer;
}

#main_img{
    width: 100%;
    height: auto;
    position: absolute;
}

.main-text-content{
    position: relative;
    text-shadow: #000000 1px 0 10px;
}

.main-title{
    font-size: 80px;
    width: 650px;
    padding: 180px 0px 20px 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.call-to-action{
    margin-left: 130px;
    text-shadow: #000000 1px 0 10px;
    background-color: #0b1320;
    width: 200px;
    text-align: center;
}

.social-icons{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: .7em;
    left: 95%;
    background-color: #0b1320e6;
    padding: 10px;
    margin-top: 200px;
    z-index: 2;
    cursor: pointer;
}

.contact-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #0b1320e6;
    padding: 20px;
    margin: -185px 0px 30px 700px;
    font-size: 18px;
}

.form-input{
    border: 1px solid #ffffff;
    margin: 5px 0px 15px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
    font-size: 14px;
}

#message{
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
}

.send-msg{
    margin-top: 15px;
    height: 30px;
    background-color: #0b1320;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.send-msg:hover{
    background-color: #000000;
}

